doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title They see me reloadin, they hatin
  link(rel="stylesheet", href="/css/styles.css")
body
  
  h1 They hate us
  h2 Cause they ain't us

  h4 Gulp
  h4 Sass
  h4 Livereload
  h4 Foundation
  h4 Express
  h4= template_engine